<nav class="pcoded-navbar" pcoded-header-position="relative">
    <div class="pcoded-inner-navbar">
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a href="/list-customers">
                    <span class="pcoded-micon"><img align="middle" src="http://kingasterisk.com/testimonial/client.png" alt="" class="icon-img"></span><br>
                    <span class="pcoded-mtext">Müşteriler</span>
                </a>

            </li>
            <li class="">
                <a href="/list-agreements">
                    <span class="pcoded-micon"><img align="middle" src="http://garaj.enakport.com/public/img/icons/check-mark.png" alt="" class="icon-img"></span><br>
                    <span class="pcoded-mtext">Sözleşmeler</span>
                </a>

            </li>
            <li class="">
                <a href="/list-dealers">
                    <span class="pcoded-micon"><img align="middle" src="http://www.freeiconspng.com/uploads/seller-icon-13.png" alt="" class="icon-img"></span><br>
                    <span class="pcoded-mtext">Bayiler</span>
                </a>

            </li>
            <li class="">
                <a href="/list-branch">
                    <span class="pcoded-micon"><img align="middle" src="assets/images/branch.png" alt="" class="icon-img"></span><br>
                    <span class="pcoded-mtext">Şubeler</span>
                </a>

            </li>
            <li class="">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><img align="middle" src="https://cdn0.iconfinder.com/data/icons/tutor-icon-set/512/calculator_icon-128.png" alt="" class="icon-img"></span><br>
                    <span class="pcoded-mtext">Cari Hesaplar</span>
                </a>

            </li>
            <li class="">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><img align="middle" src="https://img00.deviantart.net/06c8/i/2016/130/2/9/order_icon_by_dnilvincent333-da226ak.png" alt="" class="icon-img"></span><br>
                    <span class="pcoded-mtext">Siparişler</span>
                </a>

            </li>
            <li class="">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><img align="middle" src="https://cdn3.iconfinder.com/data/icons/seo-concept-modern/512/Navigation_services_flat_icon_seo_pack_web-512.png" alt="" class="icon-img"></span><br>
                    <span class="pcoded-mtext">Harita</span>
                </a>

            </li>
            <li class="">
                <a href="/list-device">
                    <span class="pcoded-micon"><img align="middle" src="https://cdn1.iconfinder.com/data/icons/modern-it-services-flat-icons/113/gadgets_devices_portable_equipment-512.png" alt="" class="icon-img"></span><br>
                    <span class="pcoded-mtext">Cihazlar</span>
                </a>

            </li>
            <li class="">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><img align="middle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Icons8_flat_sim_card.svg/1000px-Icons8_flat_sim_card.svg.png" alt="" class="icon-img"></span><br>
                    <span class="pcoded-mtext">Sim Kartlar</span>
                </a>

            </li>
            <li class="">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><img align="middle" src="assets/images/persons.png" alt="" class="icon-img"></span><br>
                    <span class="pcoded-mtext">Kişler</span>
                </a>

            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><img align="middle" src="http://icons.iconarchive.com/icons/graphicloads/flat-finance/256/system-settings-icon.png" alt="" class="icon-img"></span><br>
                    <span class="pcoded-mtext">Sistem Tanımaları</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                            <span class="pcoded-mtext">Şubeler</span>
                            <span class="pcoded-mcaret"></span>
                        </a>

                    </li>
                    <li class="">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                            <span class="pcoded-mtext">Araç Markaları</span>
                            <span class="pcoded-mcaret"></span>
                        </a>

                    </li>
                    <li class="">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                            <span class="pcoded-mtext">Araç Modelleri</span>
                            <span class="pcoded-mcaret"></span>
                        </a>

                    </li>
                    <li class="">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                            <span class="pcoded-mtext">Cihaz Markaları</span>
                            <span class="pcoded-mcaret"></span>
                        </a>

                    </li>
                    <li class="">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                            <span class="pcoded-mtext">Cihaz Modelleri</span>
                            <span class="pcoded-mcaret"></span>
                        </a>

                    </li>
                    <li class="">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                            <span class="pcoded-mtext">Bankalar</span>
                            <span class="pcoded-mcaret"></span>
                        </a>

                    </li>
                    <li class="">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                            <span class="pcoded-mtext">Bankalar</span>
                            <span class="pcoded-mcaret"></span>
                        </a>

                    </li>
                    <li class="">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                            <span class="pcoded-mtext">Gsm Tarifeleri</span>
                            <span class="pcoded-mcaret"></span>
                        </a>

                    </li>
                    <li class="">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                            <span class="pcoded-mtext">Kullanıcı Grubları</span>
                            <span class="pcoded-mcaret"></span>
                        </a>

                    </li>
                    <li class="">
                        <a href="javascript:void(0)">
                            <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                            <span class="pcoded-mtext">Kullanıcılar</span>
                            <span class="pcoded-mcaret"></span>
                        </a>

                    </li>

                </ul>
            </li>


            <li class="">
                <a (click)="logout()" href="javascript:void(0)">
                    <span class="pcoded-micon"><img align="middle" src="assets/images/logout.png" alt="" class="icon-img"></span><br>
                    <span class="pcoded-mtext">Çıkış</span>
                </a>

            </li>


        </ul>
    </div>
</nav>
