<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
      <!-- Container-fluid starts -->
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <!-- Authentication card start -->
                  <div class="login-card card-block auth-body">
                      <form class="md-float-material" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                          <div class="text-center">
                              <img src="http://www.cutesafe.com/images/logo.png" alt="logo.png">
                          </div>
                          <div class="auth-box">
                              <div class="row m-b-20">
                                  <div class="col-md-12">
                                      <h3 class="text-left txt-primary">CuteSafe Giriş</h3>
                                  </div>
                              </div>
                              <hr/>
                              <div class="input-group">
                                  <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                                  <span class="md-line"></span>
                              </div>
                              <input type="hidden" name="grant_type" value="password">
                              <input type="hidden" name="clientcode" value="web">
                              <input type="hidden" name="clientpassword" value="4645">
                              <div class="input-group">
                                  <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                                  <span class="md-line"></span>
                              </div>

                              <div class="row m-t-30">
                                  <div class="col-md-12">
                                      <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Giriş</button>
                                  </div>
                              </div>
                              <hr/>


                          </div>
                      </form>
                      <!-- end of form -->
                  </div>
                  <!-- Authentication card end -->
              </div>
              <!-- end of col-sm-12 -->
          </div>
          <!-- end of row -->
      </div>
      <!-- end of container-fluid -->
  </section>
