<div class="theme-loader">
  <div class="ball-scale">
    <div></div>
  </div>
</div>
<!-- Pre-loader end -->

<div id="pcoded" class="pcoded">

  <div class="pcoded-container">
    <!-- Menu header start -->
    <app-navbar></app-navbar>
    <!-- Menu header end -->
    <div class="pcoded-main-container">
      <app-menu></app-menu>
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content">

            <!-- Main-body start -->
            <div class="main-body">
              <div class="card">
                <div class="card-header">
                  <h6>Yeni Müşteri Ekle</h6></div>
                <div class="card-block">
                  <form class="" (ngSubmit)="f.form.valid && addCustomers()" #f="ngForm" novalidate>
                    <div class="row">
                      <div class="col-sm-4" [ngClass]="{ 'has-danger':  f.submitted && !customerClass.valid }">
                        <label for="" class="control-label">
                              Kullanıcı Sınıfı
                        </label>
                        <select  [ngClass]="{ 'form-control-danger':  f.submitted && !customerClass.valid }" name="customerClass" [(ngModel)]="model.customerClass" #customerClass="ngModel" class="form-control"  required>
                          <option value="Standart">Standart</option>
                          <option value="Reference">Referans</option>
                        </select>
                        <div *ngIf="f.submitted && !customerClass.valid">
                            <label class="col-form-label" [hidden]="!customerClass.errors.required">Lütfen Kullanıcı Sınıfını Seçiniz</label>
                          </div>
                      </div>
                      <div class="col-sm-4" [ngClass]="{ 'has-danger': f.submitted && !customerType.valid }">
                        <label for="" class="control-label">
                              Kullanıcı Tipi
                        </label>
                        <select name="customerType" [(ngModel)]="model.customerType" #customerType="ngModel" class="form-control" id="addCustomerType" [ngClass]="{ 'form-control-danger': f.submitted && !customerType.valid }" (ngModelChange)="getType($event)" required>
                          <option value="">Seçiniz</option>
                          <option data-value="kisisel" value="1">Kişisel</option>
                          <option data-value="kurumsal" value="2">Kurumsal</option>
                          <option data-value="yabanci" value="3">Yabancı</option>
                        </select>
                        <div *ngIf="f.submitted && !customerType.valid">
                            <label class="col-form-label" [hidden]="!customerType.errors.required">Lütfen Kullanıcı Tipini Seçiniz</label>
                          </div>
                      </div>
                      <div class="col-sm-12 row kurumsal" style="display: none;">
                        
                      </div>
                      <div class="col-sm-12 row kisisel" style="display: none;">
                        <div class="col-sm-4" [ngClass]="{ 'has-danger': personal &&  f.submitted && !Name.valid }"><label for="" class="control-label">İsim</label>
                          <input type="text" name="Name" [(ngModel)]="model.Name" #Name="ngModel" class="form-control" [ngClass]="{ 'form-control-danger': personal && f.submitted && !Name.valid && personal }" [required]="personal">
                          <div *ngIf="f.submitted && !Name.valid && personal">
                            <label class="col-form-label" [hidden]="!Name.errors.required">Lütfen Bu Alanı Boş Bırakmayınız</label>
                          </div>
                        </div>
                        <div class="col-sm-4" [ngClass]="{ 'has-danger': personal && f.submitted && !Surname.valid }">
                          <label for="" class="control-label">Soyisim</label>
                          <input type="text" name="Surname" [(ngModel)]="model.Surname" #Surname="ngModel" class="form-control" [ngClass]="{ 'form-control-danger': personal && f.submitted && !Surname.valid }" [required]="personal">
                          <div *ngIf="f.submitted && !Surname.valid && personal">
                            <label class="col-form-label" [hidden]="!Surname.errors.required">Lütfen Bu Alanı Boş Bırakmayınız</label>
                          </div>
                        </div>
                        <div class="col-sm-4" [ngClass]="{ 'has-danger': personal && f.submitted && !Tckn.valid }">
                          <label for="" class="control-label">Tckn</label>
                          <input type="text" [ngClass]="{ 'form-control-danger': personal && f.submitted && !Tckn.valid }" minlength="11" maxlength="11" name="Tckn" [(ngModel)]="model.Tckn" #Tckn="ngModel" class="form-control" [required]="personal">
                           <div *ngIf="f.submitted && !Tckn.valid && personal">
                            <label class="col-form-label" [hidden]="!Tckn.errors.required">Lütfen Bu Alanı Boş Bırakmayınız</label>
                            <label class="col-form-label" [hidden]="!Tckn.errors.minlength">Lütfen 11 Haneli Bir Tckn Giriniz.</label>
                          </div>
                        </div>
                        <div class="col-sm-4" [ngClass]="{ 'has-danger': personal && f.submitted && !gender.valid }">
                          <label for="" class="control-label">Cinsiyet</label>
                          <select class="form-control" name="gender" [(ngModel)]="model.gender" #gender="ngModel" [ngClass]="{ 'form-control-danger': personal && f.submitted && !gender.valid }" [required]="personal">
                                <option value="Male">Erkek</option>
                                <option value="Female">Kadın</option>
                            </select>
                             <div *ngIf="f.submitted && !gender.valid && personal">
                              <label class="col-form-label" [hidden]="!gender.errors.required">Lütfen Bir Seçim Yapın</label>
                              
                            </div>
                        </div>
                        <div class="col-sm-4">
                          <label for="" class="control-label">Doğum Yeri</label>
                          <input type="text" class="form-control" name="BirthPlace" [(ngModel)]="model.BirthPlace" #BirthPlace="ngModel">
                        </div>
                        <div class="col-sm-4">
                          <label for="" class="control-label">Doğum Tarihi</label>
                          <input type="text" class="form-control date" data-lang="tr" data-large-mode="true"
>
                        </div>
                        <div class="col-sm-4">
                          <label for="" class="control-label">Eğitim Durumu</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                          <label for="" class="control-label">Kimlik Seri No</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                          <label for="" class="control-label">Kimlik No</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                          <label for="" class="control-label">Cilt No</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                          <label for="" class="control-label">Aile Sıra No</label>
                          <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-4">
                          <label for="" class="control-label">Sıra No</label>
                          <input type="text" class="form-control">
                        </div>

                      </div>
                      <div class="col-sm-1" style="margin-bottom:5px"></div>
                      <div class="col-sm-12">
                        <button type="submit" [disabled]="loading" class="btn btn-primary">Kaydet <i [ngClass]="{ 'ti-reload rotate-refresh': loading }"></i></button>
                        <a href="/list-customers" class="btn btn-danger">İptal</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>