<div class="theme-loader">
  <div class="ball-scale">
    <div></div>
  </div>
</div>
<!-- Pre-loader end -->

<div id="pcoded" class="pcoded">

  <div class="pcoded-container">
    <!-- Menu header start -->
    <app-navbar></app-navbar>
    <!-- Menu header end -->
    <div class="pcoded-main-container">
      <app-menu></app-menu>
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content">

            <!-- Main-body start -->
            <div class="main-body">
              <div class="page-body">
                <div class="row">

                  <div class="col-sm-12">
                    <!-- Ajax data source (Arrays) table start -->
                    <div class="card">
                      <div class="card-header">
                        <h5 class="pull-left">Bayi Listesi</h5>
                        <select class="form-control col-sm-2" id="typeDelearSelect">
                            <option value="1">Bayiler</option>
                            <option value="2">Şubeler</option>
                        </select>
                        <div style="float:right;">
                          <a href="/create-dealers" class="btn btn-primary"><i class="ti-plus"></i> Bayi Ekle</a>
                        </div>

                        

                      </div>
                      <div class="card-block">
                        <div class="table-responsive dt-responsive">
                          <table id="dataTable" class="table table-striped table-bordered nowrap">
                            <thead>
                              <tr>
                                <th>
                                  Bayi Adı
                                </th>
                                <th>
                                  Ad Soyad
                                </th>
                                <th>
                                  Tckn
                                </th>
                                <th>
                                  Bayi Tipi
                                </th>
                                 <th colspan="">Düzenle</th>
                                 <th colspan="">Sil</th>
                              </tr>
                            </thead>
                            <tbody>
                                 <tr *ngFor="let row of data">
                                    <td>
                                      {{row.DealerName}}
                                    </td>
                                    <td>
                                     {{row.Name}}  {{row.Surname}}
                                    </td>
                                    <td>
                                       {{row.Tckn}}
                                    </td>

                                    <td>
                                     {{row.DealerType}}
                                    </td>
                                    <td><a href="/edit-dealer/id/{{row.Id}}" class="btn btn-primary btn-sm"><i class="ti-marker-alt"></i></a></td>
                                  <td><a href="/delete/dealer/id/{{row.Id}}" class="btn btn-danger btn-sm"><i class="ti-trash"></i></a></td>
                                 </tr>
                            </tbody>

                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
