<div class="theme-loader">
  <div class="ball-scale">
    <div></div>
  </div>
</div>
<!-- Pre-loader end -->

<div id="pcoded" class="pcoded">

  <div class="pcoded-container">
    <!-- Menu header start -->
    <app-navbar></app-navbar>
    <!-- Menu header end -->
    <div class="pcoded-main-container">
      <app-menu></app-menu>
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content">

            <!-- Main-body start -->
            <div class="main-body">
              <div class="page-body">
                <div class="row">

                  <div class="col-sm-12">
                    <!-- Ajax data source (Arrays) table start -->
                    <div class="card">
                      <div class="card-header">
                        <h5 class="pull-left">Cihaz Listesi</h5>
                        <div style="float:right;"><a href="/create-device" class="btn btn-primary"><i class="ti-plus"></i> Cihaz Ekle</a></div>

                      

                      </div>
                      <div class="card-block">
                        <div class="table-responsive dt-responsive">
                          <table id="dataTable" class="table table-striped table-bordered nowrap">
                            <thead>
                              <tr>
                                
                              </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>

                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
