<div class="theme-loader">
  <div class="ball-scale">
    <div></div>
  </div>
</div>
<!-- Pre-loader end -->

<div id="pcoded" class="pcoded">

  <div class="pcoded-container">
    <!-- Menu header start -->
    <app-navbar></app-navbar>
    <!-- Menu header end -->
    <div class="pcoded-main-container">
      <app-menu></app-menu>
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content">

            <!-- Main-body start -->
            <div class="main-body">
              <div class="page-body">
                <div class="row">

                  <div class="col-sm-12">
                    <!-- Ajax data source (Arrays) table start -->
                    <div class="card">
                      <div class="card-header">
                        <h5 class="pull-left">Müşteri Listesi</h5>
                        <div style="float:right;"><a href="/create-customers" class="btn btn-primary"><i class="ti-plus"></i> Müşteri Ekle</a></div>

                        <div class="col-sm-2">
                            <select class="form-control" id="customerType">
                              <option value="0">Müşteri Tipi Seçiniz</option>
                              <option value="1">Kişisel Müşteriler</option>
                              <option value="2">Kurumsal Müşteriler</option>
                              <option value="3">Yabancı Müşteriler Müşteriler</option>
                            </select>
                        </div>

                      </div>
                      <div class="card-block">
                        <div class="table-responsive dt-responsive">
                          <table id="dataTable" class="table table-striped table-bordered nowrap">
                            <thead>
                              <tr>
                                <th>Müşteri No</th>
                                <th>Ad-Soyad</th>
                                <th>Kurumsal Ad</th>
                                <th>TCKN</th>
                                <th>Vergi Numarası.</th>
                                <th>Üyelik Tarihi</th>
                                <th colspan="">Düzenle</th>
                                <th colspan="">Sil</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of kisisel" class="{{row.CustomerType}}">
                                  <td>{{row.Id}}</td>
                                  <td>{{row.Name}}</td>
                                  <td>{{row.Surname}}</td>
                                  <td>{{row.Tckn}}</td>
                                  <td>{{row.CustomerType}}</td>
                                  <td>8.11.2017</td>
                                  <td><a href="/edit-customers/id/{{row.Id}}" class="btn btn-primary btn-sm"><i class="ti-marker-alt"></i></a></td>
                                  <td><a href="/delete-customers/id/{{row.Id}}" class="btn btn-danger btn-sm"><i class="ti-trash"></i></a></td>
                                </tr>
                                <tr *ngFor="let row of kurumsal" class="{{row.CustomerType}}">
                                  <td>{{row.Id}}</td>
                                  <td>{{row.Name}}</td>
                                  <td>{{row.Surname}}</td>
                                  <td>{{row.Tckn}}</td>
                                  <td>{{row.CustomerType}}</td>
                                  <td>8.11.2017</td>
                                  <td><a href="/edit-customers/id/{{row.Id}}" class="btn btn-primary btn-sm"><i class="ti-marker-alt"></i></a></td>
                                  <td><a href="/delete-customers/id/{{row.Id}}" class="btn btn-danger btn-sm"><i class="ti-trash"></i></a></td>
                                </tr>
                            </tbody>

                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
