<div class="theme-loader">
  <div class="ball-scale">
    <div></div>
  </div>
</div>
<!-- Pre-loader end -->

<div id="pcoded" class="pcoded">

  <div class="pcoded-container">
    <!-- Menu header start -->
    <app-navbar></app-navbar>
    <!-- Menu header end -->
    <div class="pcoded-main-container">
      <app-menu></app-menu>
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content">

            <!-- Main-body start -->
            <div class="main-body">
              <div class="page-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                          Filtrele
                        </div>
                        <div class="card-block">
                            <form class="" action="#" method="post">
                              
                            </form>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <!-- Ajax data source (Arrays) table start -->
                    <div class="card">
                      <div class="card-header">
                        <h5>SÖZLEŞME LİSTESİ</h5>


                      </div>
                      <div class="card-block">
                        <div class="table-responsive dt-responsive">
                          <table id="dataTable" class="table table-striped table-bordered nowrap">
                            <thead>
                              <tr>
                                <th>Sözleşme Tarihi</th>
                                <th>Sözleşme Türü</th>
                                <th>Sözleşme Numarası</th>
                                <th>Satış Personeli</th>
                                <th>Satışı Onaylayan Personel<th>
                                <th colspan="2">İşlem</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of rows">
                                  <td>{{row.Name}}</td>
                                  <td>{{row.Surname}}</td>
                                  <td>{{row.Surname}}</td>
                                  <td>8.11.2017</td>
                                  <td><a href="/edit-customers/id/{{row.Id}}" class="btn btn-primary btn-sm"><i class="ti-marker-alt"></i></a></td>
                                  <td><a href="/delete-agreements/id/{{row.Id}}" class="btn btn-danger btn-sm"><i class="ti-trash"></i></a></td>
                                </tr>
                            </tbody>

                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
