<div class="theme-loader">
  <div class="ball-scale">
    <div></div>
  </div>
</div>
<!-- Pre-loader end -->

<div id="pcoded" class="pcoded">

  <div class="pcoded-container">
    <!-- Menu header start -->
    <app-navbar></app-navbar>
    <!-- Menu header end -->
    <div class="pcoded-main-container">
      <app-menu></app-menu>
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content">

            <!-- Main-body start -->
            <div class="main-body">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
